.logo{
    color: #4C5969;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

.menu{
    height: 50px;
    padding: 10px;
    background-color: #96c4c4
    ;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu ul{
    position: inline;
}

.menu ul li{
    position: inline;
    margin-left: 15px;
    margin-right: 5px;
}

.menu ul li a:hover{
    font-size: 17px;
}

.admi{
    height: 30px;
    padding: 10px;
    background-color: #c5c6c8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.titulos{
    color: #4C5969;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenidos{
    font-family: Verdana;
}

.prendas{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.footer{
    background-color:#dbe391;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
}