h1,
h2,
p {
    margin: 0
}

.producto__cabecera {
    text-align: center;
}

.producto__creacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto__formulario__label {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 500px;
    text-align: center;
}

.producto__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px
}

.producto__item {
    max-width: 300px;
}

.producto__botones {
    display: flex;
    justify-content: space-around;
}