
.navbar__logo {
    height: 75px;
    width: 75px;
}

img {
    max-width: 100%;
}
.contenido{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 18px;
}
a {
    text-decoration: none;
}
.primerh1{
    color: white;
    font-size: 26px;
}

.footer {
    text-align-last: center;
    font-family: verdana;
    background-color: #dbe391;
    color: white;
}
p {
    margin: 0
}
.logo1{
    height: 50px;
    width: 50px;
} 




